- @sections.each do |section|
	- if section.desktop_image.attached?
		section style="background-image: url(#{url_for(section.desktop_image)}), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); height: 35rem; background-size: cover"
			.content
				h2 style="color: white; text-align: #{section.title_alignment}"= section.title
				p style="color: white; text-align: #{section.content_alignment}"= section.content


css:
	body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}

	section {
		padding: 2%;
		background-blend-mode: overlay;
		border-bottom: 3px solid #000;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.content {
		margin: 2% 17.5% !important;
		width: 65%;
	}

	section h2 {
		font-size: 5rem;
	}

	section p {
		font-size: 2rem;
	}

	@media only screen and (max-width: 768px) {
		/* smartphones, Android phones, landscape iPhone */
		.content {
			margin: 2% 7.5% !important;
			width: 85% !important;
		}

		section h2 {
			font-size: 3rem;
		}

		section p {
			font-size: 1.5rem;
		}
	}
